@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Outfit:wght@400;500&family=Sofia+Sans&display=swap');

*{
    margin: 0 0;
    padding: 0 0;
    --primary-color: #5C3D2E;
}

/* Navbar */
.navBar{
    width: 100%;
    height: 65px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBar > .brand{
    color: var(--primary-color);
    font-family: "Lobster Two", sans-serif;
    font-size: 30px;
}

.navBar > .navItems{
    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

.navItems > .navItem{
    text-decoration: none;  
    color: var(--primary-color);
    font-family: "Sofia Sans", sans-serif;
    font-size: 16px;
}


.navBar > .orderBtn{
    width: 100px;
    height: 40px;
    outline: none;
    border: 3px solid var(--primary-color);
    color: #fff;
    background-color: var(--primary-color);
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    transition: 150ms ease-in-out all 0s;
}

.navBar > .orderBtn:hover{
    color: var(--primary-color);
    background-color: #fff;
    border: 3px solid var(--primary-color);
}

/* Hero Section */
.heroSec{
    width: 100%;
    height: calc(100vh - 65px);
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 7.5rem;
}

.heroSec > .quoteSec{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 8px;
}

.quoteSec > .quote{
    color: var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.quoteSec > .viewMenuBtn{
    width: 100px;
    height: 40px;
    color: var(--primary-color);
    background-color: transparent;
    outline: none;
    border: 3px solid var(--primary-color);
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    transition: 150ms ease-in-out all 0s;
}

.quoteSec > .viewMenuBtn:hover{
    color: #fff;
    background-color: var(--primary-color);
}

.heroSec > img{
    width: 375px;
}

/* Best-Selling and Menu Section */
.bestSellingSec, .menuSec{
    width: 100%;
    height: auto;
    background-color: rgb(235,235,235);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem 0;
}

.bestSellingSec > .title, .menuSec > .title{
    color: var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.bestSellingSec > .container, .menuSec > .container{
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.card{
    width: 20%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 6px;
}

.card > .cardImg{
    width: 100%;
}

.card > .cardTitle{
    color: var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.card > .cardSubtitle{
    color: #000;
    font-family: "Sofia Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.25em;
    margin: 0 1rem 0.5rem 1rem;
}

/* Caption Section */
.captionSec{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.captionSec > .caption{
    color: var(--primary-color);
    font-family: "Lobster Two", sans-serif;
    font-size: 34px;
}

/* Contact Section*/
.contactSec{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
    padding: 2rem 0;
}

.contactSec > .form{
    width: 30%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}

.form > .title{
    color: var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.form > input{
    color: var(--primary-color);
    width: 75%;
    height: 40px;
    outline: none;
    border: 3px solid var(--primary-color);
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    padding-left: 12px;
}

input::placeholder{
    color: var(--primary-color);
}

.form > .submitBtn{
    color: #fff;
    background-color: var(--primary-color);
    width: calc(75% + 18px);
    height: 46px;
    border: 3px solid var(--primary-color);
    outline: none;
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    transition: 150ms ease-in-out all 0s;
}

.form > .submitBtn:hover{
    color: var(--primary-color);
    background-color: #fff;
}

.contactSec > .coffeeShopLogo{
    width: 225px;
}